{% extends "DesportoBundle::layout.html.twig" %}
{% block title %}Desporto | Campeonato Detalhe{% endblock %}
{% block head %}
    
    <script src="{{ asset('bundles/desporto/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/jquery-datatables.responsive.js') }}"></script>
    <script src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="{{ asset('bundles/desporto/js/select2.min.js') }}"></script>
    
    <script>
        
        function repoFormatResult(repo) {
           var markup = '<div class="row">' +
                            '<div class="col-sm-12">' + repo.full_name + '</div>' +
                        '</div>';

           return markup;
        }

        function repoFormatSelection(repo) {
           return repo.full_name;
        }

        function inscrever(idEquipe, idCampeonato) {
            
            jQuery(".locked").fadeIn();
            jQuery.post("{{ path("campeonato_inscrever_jogadores") }}", {equipe: idEquipe, campeonato: idCampeonato}, function(html) {
                jQuery(".locked").fadeOut();
                bootbox.dialog({
                    title: "Inscrever jogadores",
                    message: html,
                    buttons: {
                        close: {
                            label: "Cancelar",
                            className: "btn-default",
                        },
                        success: {
                            label: "Gerar",
                            className: "btn-success",
                            callback: function () {
                            }
                        },
                    }
                });                
            });

            
                    
            
        }
        
        jQuery(document).ready(function(){
            
            jQuery("#equipe").select2({
                minimumResultsForSearch: -1,
            }).removeClass("form-control");

            jQuery('.select2-container').css("width", "100%");

            
            jQuery("#e6").select2({
                placeholder: "Search for a repository",
                minimumInputLength: 1,
                ajax: {
                    url: "{{ path('profissional_find') }}",
                    //url: "https://api.github.com/search/repositories",
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) { // page is the one-based page number tracked by Select2
                        return {
                            q: term, //search term
                            page: page // page number
                        };
                    },
                    results: function (data, page) {
                        var more = (page * 30) < data.total_count; // whether or not there are more results available

                        // notice we return the value of more so Select2 knows if more results can be loaded
                        return { results: data.items, more: more };
                    }
                },
                formatResult: repoFormatResult, // omitted for brevity, see the source of this page
                formatSelection: repoFormatSelection, // omitted for brevity, see the source of this page
                dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
                escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results            });
            });
        });

    </script>
{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-th-list"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="#">Campeonatos</a></li>
                    <li>Convocação das Equipes</li>
                </ul>
                <h4>Convocação das Equipes > {{ campeonato.campeonato.nome }} ({{ campeonato.edicao }})</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
     <div class="contentpanel">
                         <div class="row">
                             <div class="col-sm-12 col-md-12 col-lg-12">
                                 <h5 class="lg-title mb5">Basic Styling</h5>
                                 <p class="">For basic styling add the base class <code>.table</code> to any table.</p>
                                 <div class="table-responsive">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                               <th>Equipe</th>
                                               <th>Diretor</th>
                                               <th>Treinador</th>
                                               <th>isncritos</th>
                                               <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for equipe in campeonato.equipes %}
                                                <tr>
                                                    <td><h4>{{ equipe.nome }}</h4></td>
                                                    <td>Cadastrar</td>
                                                    <td>Cadastrar</td>
                                                    <td>20</td>
                                                    <td><button onclick="inscrever({{ equipe.id }}, {{ campeonato.id }});" class="btn btn-default">Inscrever jogadores</button></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                 </div>

                             </div>
                         </div>

            
     </div><!-- contentpanel -->
{% endblock %}
