<div class="row">
{% for i in 0..numChaves %}
<div class="{% if numChaves > 0 %}col-lg-6{% endif %} col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Chave {{ loop.index }}</h4>
            <p>Insira os times da chave.</p>
        </div>
        <div class="panel-body nopadding">
            {% for j in 0..numEquipesChave %}
            <div class="form-group  ">
                <label class="control-label"> Equipe {{ loop.index }} </label>
                <div class="row">
                    <input required="required" type="hidden" class=" completeEquipe col-sm-12" id="edicao_campeonato_chaves_{{ i }}_equipes_{{ j }}" name="edicao_campeonato[chaves][{{ i }}][equipes][{{ j }}]" />
                </div>
            </div>      
            {% endfor %}
            <input value="{{ loop.index }}" type="hidden" id="edicao_campeonato_chaves{{ i }}numero" name="edicao_campeonato[chaves][{{ i }}][numero]" />    
        </div>
    </div>
</div>
    
    {% if loop.index is divisible by(2) %}
    </div>
    <div class="row">
    {% endif %}
    
{% endfor %}
</div>