{% for i in 1..total %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">{{ label }} 1</h4>
        <p>Selecione as equipes.</p>
    </div><!-- panel-heading -->
    <div class="panel-body">
        <div class="row">
            <input value="{{ tipo }}" type="hidden" name="edicao_campeonato[fasesClassificatorias][{{ i }}][tipo]" />
                <div class="col-lg-5" >
                    <div class="form-group">
                        <input type="text" class="form-control completeEquipe" />
                        <input required="required" class="equipeHidden" type="hidden" name="edicao_campeonato[fasesClassificatorias][{{ i }}][equipes][0]" />
                    </div>                        
                </div>
                <div class="col-sm-2 ">
                    <h2 class="text-center">X</h2>
                </div>
                <div class="col-lg-5" >
                    <div class="form-group">
                        <input type="text" class="form-control completeEquipe" />
                        <input required="required" class="equipeHidden" type="hidden" name="edicao_campeonato[fasesClassificatorias][{{ i }}][equipes][1]" />
                    </div>                        
                </div>

        </div>

    </div><!-- panel-body -->
</div>

{% endfor %}