{% extends "DesportoBundle::layout.html.twig" %}
{% form_theme form 'DesportoBundle:Form:fields.html.twig' %}
{% block title %}Desporto | Cadastro de Campeonato{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/desporto/css/dropzone.css') }}" rel="stylesheet" />
    <script src="{{ asset('bundles/desporto/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/messages_ptbr.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/validate/additional-methods.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/jquery.maskMoney.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/jquery-ui-1.10.3.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/dropzone.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/bootbox.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/bootstrap-wizard.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/select2.min.js') }}"></script>
    {% include 'DesportoBundle::EdicaoCampeonato/novo.js.twig' %}
{% endblock %}

{% block mainpanel %}
<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-pencil"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href="{{ path('index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="{{ path('equipe_index') }}">Campeonato</a></li>
                <li> Novo Campeonato </li>
            </ul>
            <h4> Novo Campeonato </h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <h5 class="lg-title">Dados do Campeonato</h5>
            <p class="mb20">Informe os dados da edição do campeonato.</p>

            <!-- PROGRESS WIZARD -->
            <form method="post" action="" id="progressWizard" class="panel-wizard form-bordered">
                <ul class="nav nav-justified nav-wizard">
                    <li><a href="#tab1-2" data-toggle="tab"><strong>Passo 1:</strong> Informações da competição</a></li>
                    <li><a href="#tab2-2" data-toggle="tab"><strong>Passo 2:</strong> Seleção das equipes</a></li>
                </ul>

                <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <div class="tab-content">

                    <div class="tab-pane" id="tab1-2">
                        
                        <div class="row">
                            {{ form_row(form.campeonato) }}
                            {{ form_row(form.edicao) }}
                            {{ form_row(form.modalidade) }}
                            {{ form_row(form.tipo) }}
                            {{ form_row(form.quantidadeEquipes) }}
                            {{ form_row(form.quantidadeMinimaJogadores) }}
                            {{ form_row(form.quantidadeMaximaJogadores) }}
                            {{ form_row(form.quantidadeChaves) }}
                            {{ form_row(form.quantidadeClassificadosChave) }}
                            {{ form_row(form.faseDeGrupos) }}
                            {{ form_row(form.oitavas) }}
                            {{ form_row(form.quartas) }}
                            {{ form_row(form.semifinal) }}
                            {{ form_row(form.final) }}
                            
                            {{ form_row(form.desempate1) }}
                            {{ form_row(form.desempate2) }}
                            {{ form_row(form.desempate3) }}
                            {{ form_row(form._token) }}
                        </div>

                    </div><!-- tab-pane -->

                    <div class="tab-pane" id="tab2-2">
                    </div><!-- tab-pane -->
                </div><!-- tab-content -->

                <ul class="list-unstyled wizard">
                    <li class="pull-left previous"><button type="button" class="btn btn-default">Voltar</button></li>
                    <li class="pull-right next"><button type="button" class="btn btn-primary">Próximo</button></li>
                    <li class="pull-right finish hide"><button type="submit" class="btn btn-primary">salvar</button></li>
                </ul>

            </form><!-- panel-wizard -->
            
        </div><!-- col-md-12 -->
    </div><!-- row -->
</div><!-- contentpanel -->
{% endblock %}

