{% extends "DesportoBundle::layout.html.twig" %}
{% block title %}Desporto | Equipes{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/desporto/css/style.datatables.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/desporto/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/jquery-datatables.responsive.js') }}"></script>
    <script src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="{{ asset('bundles/desporto/js/select2.min.js') }}"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('#equipeTable').DataTable({
                "drawCallback": function( settings ) {
                    jQuery('#equipeTable tbody .tooltips').tooltip({ container: 'body'});
                },
                "ordering": false,
                responsive: true,
                "processing": true,
                "serverSide": true,
                "ajax": "{{ path('equipe_pagination') }}",
            });

            // DataTables Length to Select2
            jQuery('div.dataTables_length select').removeClass('form-control input-sm');
            jQuery('div.dataTables_length select').css({width: '60px'});
            jQuery('div.dataTables_length select').select2({
                minimumResultsForSearch: -1
            });
                
            jQuery("#checkall").change(function() {
               jQuery(this).closest("#equipeTable ").find("tbody input[type='checkbox']").prop('checked', jQuery(this).prop("checked"));
            });
            jQuery("#equipeTable tbody").on("change", "input[type='checkbox']",function() {
                if(false == jQuery(this).prop("checked")) { 
                    jQuery("#checkall").prop('checked', false); 
                }
                if (jQuery("#equipeTable tbody input[type='checkbox']:checked").length == jQuery("#equipeTable tbody input[type='checkbox']").length ){
                    jQuery("#checkall").prop('checked', true);
                }
            });


        });
       
       
        function exportar() {
            if (jQuery("#equipeTable tbody input[type='checkbox']:checked").length > 0 ){
                jQuery("form").attr("action", "{{ path('equipe_exportar') }}").submit();
            } else {
                bootbox.alert("Nenhuma Equipe Selecionada");
            }
        }
        
        function excluir() {
            if (jQuery("#equipeTable tbody input[type='checkbox']:checked").length > 0 ){
                bootbox.confirm("Tem certeza que deseja excluir essa(s) equipe(s)? As Equipes Excluídas não poderão mais participar de novos campeonatos, porém em campeonatos que já estão inscritas seguem normalmente.", 
                function(c) {
                    if (c) {
                        jQuery("form").attr("action", "{{ path('equipe_excluir') }}").submit();
                    }
                });
            } else {
                bootbox.alert("Nenhuma Equipe Selecionada");
            }
        }
       
    </script>
{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-th-list"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="{{ path('equipe_index') }}">Equipe</a></li>
                    <li>Lista de Equipes</li>
                </ul>
                <h4>Equipes</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
     <div class="contentpanel">
        <div class="row">
            <div class="col-lg-12">
                <a href="{{ path('equipe_form') }}" class="btn btn-primary">Cadastrar Equipe</a>
            </div>
        </div>
        <hr/>
        
        <div class="panel panel-success-head">
            <form method="POST" >
                
                <table id="equipeTable" class="table table-responsive table-hover msg-list">
                    <thead class="msg-header">
                        <tr>
                            <td>
                                <div class="ckbox ckbox-default pull-left">
                                    <input id="checkall" type="checkbox">
                                    <label for="checkall"></label>
                                </div>
                                <button onclick="exportar()" class="btn btn-white tooltips" type="button" data-toggle="tooltip" data-placement="top" title="Exportar"><i class="fa fa-download"></i></button>
                                <button onclick="excluir()" class="btn btn-white tooltips" type="button" data-toggle="tooltip" data-placement="top" title="Excluir"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </thead>
                    <tbody class="list-group contact-group">
                    </tbody>
                </table>
            </form>
        </div><!-- panel -->
     </div><!-- contentpanel -->
{% endblock %}
