{% extends "DesportoBundle::layout.html.twig" %}
{% form_theme form 'DesportoBundle:Form:fields.html.twig' %}
{% block title %}Desporto | Julgar Suspensão{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/desporto/css/dropzone.css') }}" rel="stylesheet" />
    <script src="{{ asset('bundles/desporto/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/messages_ptbr.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/validate/additional-methods.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/jquery-ui-1.10.3.min.js') }}"></script>
    <script>
        jQuery(document).ready(function(){
           jQuery('#loading').hide();
           jQuery("#julgamento_data").mask("99/99/9999").datepicker();
           jQuery("#julgamento_tipo").select2({
                minimumResultsForSearch: -1,
            }).removeClass("form-control");

           jQuery("#julgamento_quantidadeJogos").keyup(function () {
                var valor = jQuery(this).val();
                jQuery(this).val(valor.replace(/[^\d]/gi, ""));
            }).spinner({min: 1});
            jQuery('.select2-container').css("width", "100%");
            
            jQuery("form").validate({
                highlight: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-error');
                },
                errorPlacement: function(error, element) {
                    jQuery(element).closest('.form-group').append(error);
                },
                validClass: "",
                submitHandler: function(form) {
                    jQuery('button').hide();
                    jQuery('#loading').fadeIn(200);
                    form.submit();
               }
            });
           
        });
    </script>
{% endblock %}

{% block mainpanel %}
<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-balance-scale"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href="{{ path('index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="{{ path('julgamento_index') }}">Julgamentos</a></li>
                <li>Julgar Suspensão </li>
            </ul>
            <h4>Julgar Suspensão </h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">
                
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="text-center">
                    <img src="{{ path('profissional_arquivo_download', {nome: suspensao.inscricao.profissional.publicFoto}) }}" class="img-circle img-offline img-responsive img-profile" alt="" />
                    <h4 class="profile-name mb5">{{ suspensao.inscricao.profissional.nome }}</h4>
                    <div><i class="fa fa-map-marker"></i> {{ suspensao.inscricao.profissional.endereco }}</div>
                    <div><i class="fa fa-calendar"></i> {{ suspensao.inscricao.profissional.nascimento.format("d/m/Y") }} </div>
                    <div><i class="fa fa-phone"></i> {{ suspensao.inscricao.profissional.telefone|telefone }} </div>
                </div><!-- text-center -->
            </div><!-- col-sm-4 col-md-3 -->
            <div class="col-sm-12 col-md-9">

            {{ form_start(form, {'attr' : {'class': 'form-bordered form-horizontal'}}) }}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">Dados</h5>
                        <p>
                            Compos com * são obrigatórios
                        </p>
                    </div>
                    <div class="panel-body">
                        {{ form_errors(form) }}
                        <div class="row">
                            <div class="form-group  ">
                                <label class="col-sm-5 col-md-4 col-lg-3 control-label">Campeonato</label>
                                <div class="col-sm-7 col-md-8 col-lg-5">
                                    <h5>{{ suspensao.inscricao.edicaoCampeonato.campeonato.nome }} - {{ suspensao.inscricao.edicaoCampeonato.edicao }}</h5>
                                </div>
                            </div>                            
                            <div class="form-group  ">
                                <label class="col-sm-5 col-md-4 col-lg-3 control-label">Equipe</label>
                                <div class="col-sm-7 col-md-8 col-lg-5">
                                    <h5>{{ suspensao.inscricao.equipe.nome }}</h5>
                                </div>
                            </div>                            
                            {{ form_row(form.quantidadeJogos) }}
                            {{ form_row(form.data) }}
                            {{ form_row(form.observacoes) }}
                        </div><!-- row -->
                    </div><!-- panel-body -->
                    <div class="panel-footer">
                        <div class="row">
                            <button class="btn btn-primary mr5">Salvar</button>
                            <img src="{{ asset('bundles/desporto/images/loading.gif') }}" id="loading" alt="Carregando" />
                            <a class="btn btn-default" href="javascript:history.back();">Voltar</a>
                        </div>
                    </div>
                </div><!-- panel -->
            
            
            {{ form_end(form) }}
            
        </div><!-- col-md-12 -->
    </div><!-- row -->
</div><!-- contentpanel -->
{% endblock %}