<div class="row text-center mb10 mt10">
    <div class="col-sm-6 text-right">
        {% if jogo.data is null %}
            <button class="btn btn-default btn-sm" title="Definir Data" onclick="definirData({{ jogo.id }})">Definir data</button>
        {% else %}
            <h5><strong>{{ jogo.data.format("d/m/Y") }} {{ jogo.horario.format("H:i") }}</strong></h5>
        {% endif %}
    </div>
    <div class="col-sm-6 text-left">
        {% if jogo.local is null %}
            <button class="btn btn-default btn-sm" title="Definir Local" onclick="definirLocal({{ jogo.id }})">Definir local</button>
        {% else %}
            <h5><strong>{{ jogo.local }}</strong></h5>
        {% endif %}
    </div>
</div>
<div class="row text-center mb10 mt10">

    <div class="col-sm-4 text-right">
        <span class="h4">{{ jogo.equipeMandante.apelido }}
    </div>
    <div class="col-sm-4">
        <span class="h3">{{ jogo.numeroGolsMandante }}</span>
        <span class="h4">X</span>
        <span class="h3">{{ jogo.numeroGolsVisitante }}</span>
    </div>
    <div class="col-sm-4 text-left">
        <span class="h4">{{ jogo.equipeVisitante.apelido }}</span>
    </div>    

</div>
<div class="row text-center">
    <div class="col-sm-12 mb10 mt10">
        <div class="btn-group">
            <a class="btn btn-info btn-sm" type="button" href="{{ path('jogo_detalhar', {jogo: jogo.id})  }}">Detalhar</a> 
            <button class="btn btn-info btn-sm" ><i class="fa fa-print"></i></button>
        </div>
    </div>
</div>
