{% extends "DesportoBundle::layout.html.twig" %}
{% block title %}Desporto | Campeonato Detalhe{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/desporto/css/slick/slick.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/desporto/css/slick/slick-theme.css') }}" rel="stylesheet">

    <script src="{{ asset('bundles/desporto/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/messages_ptbr.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/validate/additional-methods.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/jquery-ui-1.10.3.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/slick.min.js') }}"></script>
    {% include 'DesportoBundle::EdicaoCampeonato/detalhe/localData.js.twig' %}
    <script>
        jQuery(document).ready(function () {
            jQuery('.slick_demo_1').slick({
                dots: true
            });
        });
    </script>
    <style>
        .slick-prev::before, .slick-next::before {
            color: #1ab394 !important;
        }
    </style>
{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-th-list"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="#">Campeonatos</a></li>
                    <li>Detalhe Campeonato</li>
                </ul>
                <h4>{{ campeonato.campeonato.nome }} - {{ campeonato.edicao }}</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
    <div class="contentpanel">

        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href=""><button class="btn btn-success " type="button"><i class="fa fa-print"></i>&nbsp;&nbsp;<span class="bold">Tabela</span></button></a>
                    <a href=""><button class="btn btn-success " type="button"><i class="fa fa-calendar-o"></i>&nbsp;&nbsp;<span class="bold">Gerar Carnê</span></button></a>
                    <a href="{{ path('campeonato_convocacao', {campeonato: campeonato.id}) }}"><button class="btn btn-success " type="button"><i class="fa fa-users"></i>&nbsp;&nbsp;<span class="bold">Editar Equipes</span></button></a>
                    <a href=""><button class="btn btn-success " type="button"><i class="fa fa-bars"></i>&nbsp;&nbsp;<span class="bold">Ficha Equipe</span></button></a>
                    <a href="campeonato-finais.html"><button class="btn btn-success " type="button"><i class="fa fa-share"></i>&nbsp;&nbsp;<span class="bold">Próxima Fase</span></button></a>
                </div>
            </div>
        </div>
        
        <hr/>

        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Equipe</th>
                            <th>Pontos</th>
                            <th>Vitórias</th>
                            <th>Empates</th>
                            <th>Derrotas</th>
                            <th class="tooltips" data-toggle="tooltip" data-original-title="Gols Pró">GP</th>
                            <th class="tooltips" data-toggle="tooltip" data-original-title="Gols Contra">GC</th>
                            <th class="tooltips" data-toggle="tooltip" data-original-title="Saldo de Gols">SG</th>
                            <th class="tooltips" data-toggle="tooltip" data-original-title="Cartões Amarelos">CA</th>
                            <th class="tooltips" data-toggle="tooltip" data-original-title="Cartões Vermelhos">CV</th>
                            <th class="tooltips" data-toggle="tooltip" data-original-title="Aproveitamento em %" >Aprov.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for classificacao in tabela %}
                            <tr>
                                <td class="text-center"><strong class="h5">{{ loop.index }}</strong></td>
                                <td><a class="h4" href="#">{{ classificacao.equipe.apelido }}</a></td>
                                <td>{{ classificacao.pontos }}</td>
                                <td>{{ classificacao.vitorias }}</td>
                                <td>{{ classificacao.empates }}</td>
                                <td>{{ classificacao.derrotas }}</td>
                                <td>{{ classificacao.golsMarcados }}</td>
                                <td>{{ classificacao.golsSofridos }}</td>
                                <td>{{ classificacao.golsSaldo }}</td>
                                <td>{{ classificacao.cartoesAmarelos }}</td>
                                <td>{{ classificacao.cartoesVermelhos }}</td>
                                <td>{{ classificacao.aproveitamento|number_format(1) }}%</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- col-sm-12 -->
        </div> <!-- row -->
        <hr/>
        <div class="panel panel-default">
            <div class="panel-body">
            <div class="slick_demo_1">
                {% for rodada in campeonato.rodadas %}
                    <div>
                        <h3>{{ rodada.numero }}º RODADA</h3><hr>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Data
                                    </th>
                                    <th>
                                        Local
                                    </th>
                                    <th class="text-center">
                                        Mandante
                                    </th>
                                    <th class="text-center">
                                        Placar
                                    </th>
                                    <th class="text-center">
                                        X
                                    </th>
                                    <th class="text-center">
                                        Placar
                                    <th class="text-center">
                                        Visitante
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for jogo in rodada.jogos %}
                                    <tr>
                                        <td>
                                            {% if jogo.data is null %}
                                                <button class="btn btn-default btn-sm" title="Definir Data" onclick="definirData({{ jogo.id }})">Definir data</button>
                                            {% else %}
                                                <h5><strong>{{ jogo.data.format("d/m/Y") }} {{ jogo.horario.format("H:i") }}</strong></h5>
                                            {% endif %}
                                        </td>
                                        <td>
                                        {% if jogo.local is null %}
                                            <button class="btn btn-default btn-sm" title="Definir Local" onclick="definirLocal({{ jogo.id }})">Definir local</button>
                                        {% else %}
                                            <h5><strong>{{ jogo.local }}</strong></h5>
                                        {% endif %}
                                        </td>
                                        <td class="text-center"><span class="h4">{{ jogo.equipeMandante.apelido }}</span></td>
                                        <td class="text-center"><span class="h3">{{ jogo.numeroGolsMandante }}</span></td>
                                        <td class="text-center"><span class="h4">X</span></td>
                                        <td class="text-center"><span class="h3">{{ jogo.numeroGolsVisitante }}</span></td>
                                        <td class="text-center"><span class="h4">{{ jogo.equipeVisitante.apelido }}</span></td>
                                        <td>        
                                            <div class="btn-group">
                                                <a class="btn btn-info btn-sm" type="button" href="{{ path('jogo_detalhar', {jogo: jogo.id})  }}">Detalhar</a> 
                                                <button class="btn btn-info btn-sm" title="Súmula" ><i class="fa fa-print"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div><!-- slick_demo_1 -->
            </div>
        </div>


    </div><!-- contentpanel -->
{% endblock %}
