<table class="table table-bordered table-responsive table-striped">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th>Equipe</th>
            <th>Pontos</th>
            <th>Vit처rias</th>
            <th>Empates</th>
            <th>Derrotas</th>
            <th class="tooltips" title="Gols Pr처">GP</th>
            <th class="tooltips" title="Gols Contra">GC</th>
            <th class="tooltips" title="Saldo de Gols">SG</th>
            <th class="tooltips" title="Cart천es Amarelos">CA</th>
            <th class="tooltips" title="Cart천es Vermelhos">CV</th>
            <th class="tooltips" title="Aproveitamento em %" >Aprov.</th>
        </tr>
    </thead>
    <tbody>
        {% for classificacao in tabela %}
            <tr>
                <td class="text-center"><strong class="h5">{{ loop.index }}</strong></td>
                <td><a class="h4" href="#">{{ classificacao.equipe.apelido }}</a></td>
                <td>{{ classificacao.pontos }}</td>
                <td>{{ classificacao.vitorias }}</td>
                <td>{{ classificacao.empates }}</td>
                <td>{{ classificacao.derrotas }}</td>
                <td>{{ classificacao.golsMarcados }}</td>
                <td>{{ classificacao.golsSofridos }}</td>
                <td>{{ classificacao.golsSaldo }}</td>
                <td>{{ classificacao.cartoesAmarelos }}</td>
                <td>{{ classificacao.cartoesVermelhos }}</td>
                <td>{{ classificacao.aproveitamento|number_format(1) }}%</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
