{% extends "DesportoBundle::layout.html.twig" %}
{% block title %}Desporto | Campeonato Detalhe{% endblock %}
{% block head %}
    <script src="{{ asset('bundles/desporto/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/messages_ptbr.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/validate/additional-methods.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/jquery-ui-1.10.3.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/bootstrap.min.js') }}"></script>
    {% include 'DesportoBundle::EdicaoCampeonato/detalhe/localData.js.twig' %}
    {% include 'DesportoBundle::EdicaoCampeonato/detalhe/fichaEquipe.js.twig' with {'campeonato': campeonato} %}

    <script>
        jQuery(document).ready(function () {
            jQuery(".tab-content-info .tab-pane:last").addClass("active")
            jQuery(".nav-info li:last").addClass("active")
        });
    </script>
    <style>
        .slick-prev::before, .slick-next::before {
            color: #1ab394 !important;
        }
    </style>
{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-th-list"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="#">Campeonatos</a></li>
                    <li>Detalhe Campeonato</li>
                </ul>
                <h4>{{ campeonato.campeonato.nome }} - {{ campeonato.edicao }}</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
    <div class="contentpanel">
        {% for msg in error %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ msg|raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href="{{ path('campeonato_imprimir_artilharia', {campeonato: campeonato.id}) }}" title="Imprimir Artilharia" class="btn btn-success tooltips" target="_blank"><i class="fa fa-print"></i>Artilharia</a>
                    <a href="{{ path('campeonato_imprimir_carne', {campeonato: campeonato.id}) }}" target="_blank" class="btn btn-success"><i class="fa fa-calendar-o"></i>Gerar Carnê</a>
                    <a href="{{ path('campeonato_convocacao', {campeonato: campeonato.id}) }}" class="btn btn-success tooltips" title="Editar Equipes"  ><i class="fa fa-users"></i>Editar Equipes</a>
                    <button class="btn btn-success" onclick="fichaEquipe()" type="button"><i class="fa fa-bars"></i>Ficha Equipe</button>
                    <a href="{{ path('campeonato_proxima_fase', {campeonato: campeonato.id}) }}" class="btn btn-success tooltips" title="Próxima Fase" ><i class="fa fa-share"></i>Próxima Fase</a>
                </div>
            </div>
        </div>
        
        <hr/>

        <div class="row">
            <div class="col-sm-12">
                
                <h5 class="lg-title mb10">Fases</h5>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-info">
                    {% if campeonato.fasesOitavas.count > 0 %}
                    <li><a href="#oitavas" data-toggle="tab"><strong>Oitavas de Final</strong></a></li>
                    {% endif %}
                    
                    {% if campeonato.fasesQuartas.count > 0 %}
                    <li><a href="#quartas" data-toggle="tab"><strong>Quartas de Final</strong></a></li>
                    {% endif %}
                    
                    {% if campeonato.fasesSemifinal.count > 0 %}
                    <li><a href="#semifinal" data-toggle="tab"><strong>Semifinal</strong></a></li>
                    {% endif %}
                    
                    {% if campeonato.fasesFinal.count > 0 %}
                    <li><a href="#final" data-toggle="tab"><strong>Final</strong></a></li>
                    {% endif %}

                </ul>

                
                <div class="tab-content tab-content-info mb30">
                    
                    {% if campeonato.fasesOitavas.count > 0 %}
                    <div class="tab-pane" id="oitavas">
                        {% for fase in campeonato.fasesOitavas %}
                            <h5 class="lg-title mb10">Oitavas de Final</h5>
                            {% include 'DesportoBundle::EdicaoCampeonato/detalhe/fase.html.twig' with {'fase': fase} %}
                        {% endfor %}
                    </div><!-- tab-pane -->
                    {% endif %}
                    {% if campeonato.fasesQuartas.count > 0 %}
                    <div class="tab-pane" id="quartas">
                        {% for fase in campeonato.fasesQuartas %}
                            <h5 class="lg-title mb10">Quartas de Final</h5>
                            {% include 'DesportoBundle::EdicaoCampeonato/detalhe/fase.html.twig' with {'fase': fase} %}
                        {% endfor %}
                    </div><!-- tab-pane -->
                    {% endif %}
                    {% if campeonato.fasesSemifinal.count > 0 %}
                    <div class="tab-pane" id="semifinal">
                        {% for fase in campeonato.fasesSemifinal %}
                            <h5 class="lg-title mb10">Semifinal</h5>
                            {% include 'DesportoBundle::EdicaoCampeonato/detalhe/fase.html.twig' with {'fase': fase} %}
                        {% endfor %}
                    </div><!-- tab-pane -->
                    {% endif %}
                    {% if campeonato.fasesFinal.count > 0 %}
                    <div class="tab-pane" id="final">
                        {% for fase in campeonato.fasesFinal %}
                            <h5 class="lg-title mb10">Final</h5>
                            {% include 'DesportoBundle::EdicaoCampeonato/detalhe/fase.html.twig' with {'fase': fase} %}
                        {% endfor %}
                    </div><!-- tab-pane -->
                    {% endif %}

                    
                </div><!-- tab-content -->
                
            </div>
        </div> <!-- row -->
        <hr/>
        <div class="row">
            <div class="col-sm-12">
                {% include 'DesportoBundle::EdicaoCampeonato/detalhe/artilharia.html.twig' with {'artilharia': artilharia} %}
            </div> <!-- col-sm-12 -->
        </div><!-- row -->
    </div><!-- contentpanel -->
{% endblock %}
