{% extends "DesportoBundle::layout.html.twig" %}
{% block title %}Desporto | Campeonato Detalhe{% endblock %}
{% block head %}
    <script src="{{ asset('bundles/desporto/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/messages_ptbr.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/validate/additional-methods.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/jquery-ui-1.10.3.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/bootstrap.min.js') }}"></script>
    {% include 'DesportoBundle::EdicaoCampeonato/detalhe/localData.js.twig' %}
    {% include 'DesportoBundle::EdicaoCampeonato/detalhe/fichaEquipe.js.twig' with {'campeonato': campeonato} %}

    <script>
        jQuery(document).ready(function () {

        });
    </script>
    <style>
        .slick-prev::before, .slick-next::before {
            color: #1ab394 !important;
        }
    </style>
{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-th-list"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="#">Campeonatos</a></li>
                    <li>Detalhe Campeonato</li>
                </ul>
                <h4>{{ campeonato.campeonato.nome }} - {{ campeonato.edicao }}</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
    <div class="contentpanel">

        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href="{{ path('campeonato_imprimir_artilharia', {campeonato: campeonato.id}) }}" target="_blank"><button class="btn btn-success tooltips" title="Imprimir Artilharia" type="button"><i class="fa fa-print"></i>&nbsp;&nbsp;<span class="bold">Artilharia</span></button></a>
                    <button class="btn btn-success " type="button"><i class="fa fa-calendar-o"></i>&nbsp;&nbsp;<span class="bold">Gerar Carnê</span></button>
                    <a href="{{ path('campeonato_convocacao', {campeonato: campeonato.id}) }}"><button class="btn btn-success " type="button"><i class="fa fa-users"></i>&nbsp;&nbsp;<span class="bold">Editar Equipes</span></button></a>
                    <button class="btn btn-success" onclick="fichaEquipe()" type="button"><i class="fa fa-bars"></i>&nbsp;&nbsp;<span class="bold">Ficha Equipe</span></button>
                    <a href="campeonato-finais.html"><button class="btn btn-success " type="button"><i class="fa fa-share"></i>&nbsp;&nbsp;<span class="bold">Próxima Fase</span></button></a>
                </div>
            </div>
        </div>
        
        <hr/>

        <div class="row">
            <div class="col-sm-12">
                
                <h5 class="lg-title mb10">Fases</h5>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    {% if campeonato.fasesOitavas.count > 0 %}
                    <li class="active"><a href="#oitavas" data-toggle="tab"><strong>Oitavas</strong></a></li>
                    {% endif %}
                    
                    {% if campeonato.fasesQuartas.count > 0 %}
                    <li class="active"><a href="#quartas" data-toggle="tab"><strong>Qaurtas</strong></a></li>
                    {% endif %}
                    
                    {% if campeonato.fasesSemifinal.count > 0 %}
                    <li class="active"><a href="#semifinal" data-toggle="tab"><strong>Semifinal</strong></a></li>
                    {% endif %}
                    
                    {% if campeonato.fasesFinal.count > 0 %}
                    <li class="active"><a href="#final" data-toggle="tab"><strong>Final</strong></a></li>
                    {% endif %}

                </ul>

                
                <div class="tab-content mb30">
                    
                    {% if campeonato.fasesOitavas.count > 0 %}
                    <div class="tab-pane active" id="quartas">
                        {% for fase in campeonato.fasesOitavas %}
                            {% include 'DesportoBundle::EdicaoCampeonato/detalhe/fase.html.twig' with {'fase': fase} %}
                        {% endfor %}
                    </div><!-- tab-pane -->
                    {% endif %}
                    {% if campeonato.fasesQuartas.count > 0 %}
                    <div class="tab-pane active" id="quartas">
                        {% for fase in campeonato.fasesQuartas %}
                            {% include 'DesportoBundle::EdicaoCampeonato/detalhe/fase.html.twig' with {'fase': fase} %}
                        {% endfor %}
                    </div><!-- tab-pane -->
                    {% endif %}
                    {% if campeonato.fasesSemifinal.count > 0 %}
                    <div class="tab-pane active" id="quartas">
                        {% for fase in campeonato.fasesSemifinal %}
                            {% include 'DesportoBundle::EdicaoCampeonato/detalhe/fase.html.twig' with {'fase': fase} %}
                        {% endfor %}
                    </div><!-- tab-pane -->
                    {% endif %}
                    {% if campeonato.fasesFinal.count > 0 %}
                    <div class="tab-pane active" id="quartas">
                        {% for fase in campeonato.fasesFinal %}
                            {% include 'DesportoBundle::EdicaoCampeonato/detalhe/fase.html.twig' with {'fase': fase} %}
                        {% endfor %}
                    </div><!-- tab-pane -->
                    {% endif %}

                    
                </div><!-- tab-content -->
                
            </div>
        </div> <!-- row -->
        <hr/>
        <div class="row">
            <div class="col-sm-12">
                {% include 'DesportoBundle::EdicaoCampeonato/detalhe/artilharia.html.twig' with {'artilharia': artilharia} %}
            </div> <!-- col-sm-12 -->
        </div><!-- row -->
    </div><!-- contentpanel -->
{% endblock %}
