<div class="leftpanel">

    <h5 class="leftpanel-title">Menu</h5>
    <ul class="nav nav-pills nav-stacked">
        <li {% if app.request.get('_route') == 'index' %} class="active"{% endif %}>
            <a href="{{ path('index') }}">
                <i class="fa fa-home"></i> <span>Home</span>
            </a>
        </li>
        {% if is_granted('ROLE_USUARIO') %}
        <li class="parent {% if 'usuario' in app.request.get('_route')  %} active{% endif %}"><a href=""><i class="fa fa-users"></i> <span>Usuarios</span></a>
            <ul class="children" >
                <li {% if app.request.get('_route') == 'usuario_form' %} class="active"{% endif %}><a href="{{ path('usuario_form') }}">Novo</a></li>
                <li {% if app.request.get('_route') == 'usuario_index' %} class="active"{% endif %}><a href="{{ path('usuario_index') }}">Lista</a></li>
            </ul>
        </li>
        {% endif  %}
        {% if is_granted('ROLE_PROFISSIONAL') or is_granted('ROLE_EQUIPE') %}
        <li class="parent {% if 'profissional' in app.request.get('_route') or 'equipe' in app.request.get('_route') %} active{% endif %}"><a href=""><i class="fa fa-search"></i> <span>Consulta</span></a>
            <ul class="children" >
                <li {% if 'profissional' in app.request.get('_route') %} class="active"{% endif %}><a href="{{ path('profissional_index') }}">Profissionais</a></li>
                <li {% if 'equipe' in app.request.get('_route') %} class="active"{% endif %}><a href="{{ path('equipe_index') }}">Equipes</a></li>
            </ul>
        </li>
        {% endif  %}
    </ul>

</div><!-- leftpanel -->
