{% extends "DesportoBundle::layout.html.twig" %}
{% form_theme form 'DesportoBundle:Form:fields.html.twig' %}
{% form_theme form.gols 'DesportoBundle:Form:gols.html.twig' %}
{% form_theme form.cartoes 'DesportoBundle:Form:gols.html.twig' %}
{% block title %}Desporto | Jogo Detalhe{% endblock %}
{% block head %}

    <script src="{{ asset('bundles/desporto/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/jquery-ui-1.10.3.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/messages_ptbr.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/validate/additional-methods.js') }}"></script>
    <script>

        var iGol = 0;
        var iCartao = 0;
        var selectGolMandante;
        jQuery(document).ready(function () {
            jQuery("#jogo_gols, #jogo_cartoes, #loading").hide();
        
            jQuery("input[type='number']").keyup(function () {
                var valor = jQuery(this).val();
                jQuery(this).val(valor.replace(/[^\d]/gi, ""));
            }).spinner({min: 0});


            jQuery("#golsMandante").on("spinchange", function (event, ui) {
                adicionarGols(jQuery(this).val(), "#tableGolsMandante");
            });
            jQuery("#golsVisitante").on("spinchange", function (event, ui) {
                adicionarGols(jQuery(this).val(), "#tableGolsVisitante");
            });

            
            //CARTÕES AMARELOS
            jQuery("#cartoesAmarelosMandante").on("spinchange", function (event, ui) {
                adicionarCartoes(jQuery(this).val(), "#tableCartoesAmarelosMandante", "{{ constant('DesportoBundle\\Entity\\Cartao::AMARELO') }}");
            });
            jQuery("#cartoesAmarelosVisitante").on("spinchange", function (event, ui) {
                adicionarCartoes(jQuery(this).val(), "#tableCartoesAmarelosVisitante", "{{ constant('DesportoBundle\\Entity\\Cartao::AMARELO') }}");
            });
            
            //CARTÕES VERMELHOS
            jQuery("#cartoesVermelhosMandante").on("spinchange", function (event, ui) {
                adicionarCartoes(jQuery(this).val(), "#tableCartoesVermelhosMandante", "{{ constant('DesportoBundle\\Entity\\Cartao::VERMELHO') }}");
            });
            jQuery("#cartoesVermelhosVisitante").on("spinchange", function (event, ui) {
                adicionarCartoes(jQuery(this).val(), "#tableCartoesVermelhosVisitante", "{{ constant('DesportoBundle\\Entity\\Cartao::VERMELHO') }}");
            });

            jQuery("#escalacaoMandante input[type=checkbox]").change(function (event) {
                jQuery('#escalacaoMandante input[type=checkbox]:checked').not(this).prop('checked', false);
            });
            jQuery("#escalacaoVisitante input[type=checkbox]").change(function (event) {
                jQuery('#escalacaoVisitante input[type=checkbox]:checked').not(this).prop('checked', false);
            });
            
            jQuery("form").validate({
                highlight: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-error');
                },
                errorPlacement: function(error, element) {
                    if (element.attr('type')=='number') {
                        jQuery(element).closest('td').append(error);
                    } else if (element.attr('type')=='text') {
                        jQuery(element).closest('.form-group').append(error);
                    }
                },
                validClass: "",
                submitHandler: function(form) {
                    jQuery('button').hide();
                    jQuery('#loading').fadeIn(200);
                    form.submit();
               }
            });



        });


        function adicionarGols(numeroGols, table) {
            var tableBody = jQuery(table + " tbody");
            tableBody.html('');
            var strHtml = jQuery("#gols").data('prototype');
            if (numeroGols == 0) {
                tableBody.parent().hide();
            } else {
                tableBody.parent().show();
            }
            for (var i = 0; i < numeroGols; i++) {
                tableBody.append(strHtml.replace(/__name__/g, iGol));
                iGol++;
            }
            tableBody.find("tr").each(function () {
                jQuery(this).find("input[type='number']").keyup(function () {
                    var valor = jQuery(this).val();
                    jQuery(this).val(valor.replace(/[^\d]/gi, ""));
                }).spinner({min: 0});
                if (table == "#tableGolsMandante") {
                    {% for profissional in form.profissionalJogos if profissional.inscricao.vars.value.equipe == jogo.equipeMandante %}
                    jQuery(this).find("td:first select").append(new Option('{{ profissional.inscricao.vars.value.profissional.nome }}', '{{ profissional.inscricao.vars.value.id }}'));
                    {% endfor %}
                } else if (table == "#tableGolsVisitante") {
                    {% for profissional in form.profissionalJogos if profissional.inscricao.vars.value.equipe == jogo.equipeVisitante %}
                        jQuery(this).find("td:first select").append(new Option('{{ profissional.inscricao.vars.value.profissional.nome }}', '{{ profissional.inscricao.vars.value.id }}'));
                    {% endfor %}
                }
            })

        }
        
        function adicionarCartoes(numeroCartoes, table, cor) {
            var tableBody = jQuery(table + " tbody");
            tableBody.html('');
            var strHtml = jQuery("#cartoes").data('prototype');
            if (numeroCartoes == 0) {
                tableBody.parent().hide();
            } else {
                tableBody.parent().show();
            }
            for (var i = 0; i < numeroCartoes; i++) {
                tableBody.append(strHtml.replace(/__name__/g, iCartao));
                iCartao++;
            }
            tableBody.find("tr").each(function () {
                
                jQuery(this).find("input[type='number']").keyup(function () {
                    var valor = jQuery(this).val();
                    jQuery(this).val(valor.replace(/[^\d]/gi, ""));
                }).spinner({min: 0});
                jQuery(this).find("input[type='hidden']").val(cor);
                if (table === "#tableCartoesAmarelosMandante" || table === "#tableCartoesVermelhosMandante") {
                    {% for profissional in form.profissionalJogos if profissional.inscricao.vars.value.equipe == jogo.equipeMandante %}
                    jQuery(this).find("td:first select").append(new Option('{{ profissional.inscricao.vars.value.profissional.nome }}', '{{ profissional.inscricao.vars.value.id }}'));
                    {% endfor %}
                } else if (table === "#tableCartoesAmarelosVisitante" || table === "#tableCartoesVermelhosVisitante") {
                    {% for profissional in form.profissionalJogos if profissional.inscricao.vars.value.equipe == jogo.equipeVisitante %}
                        jQuery(this).find("td:first select").append(new Option('{{ profissional.inscricao.vars.value.profissional.nome }}', '{{ profissional.inscricao.vars.value.id }}'));
                    {% endfor %}
                }
            })

        }
    </script>
    <style>
        .slick-prev::before, .slick-next::before {
            color: #1ab394 !important;
        }
    </style>
{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-th-list"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="#">Campeonatos</a></li>
                    <li><a href="{{ path('campeonato_detalhe', {campeonato: jogo.edicaoCampeonato.id}) }}">{{ jogo.edicaoCampeonato.campeonato.nome }} - {{ jogo.edicaoCampeonato.edicao }}</a></li>
                    <li>Detalhe Jogo</li>
                </ul>
                <h4>{{ jogo.equipeMandante.nome }} x {{ jogo.equipeVisitante.nome }} - {{ jogo.rodada.numero }}º Rodada</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
    <div class="contentpanel">
        {{ form_start(form) }}

        <!-- ESCALAÇÃO -->
        <div class="row">
            <!-- ESCALAÇÃO EQUIPE MANDANTE -->
            <div class="col-lg-6  col-md-12" id="escalacaoMandante"> 
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ jogo.equipeMandante.nome }}</h3>
                    </div>
                    <div class="panel-body">

                        <table class="table table-responsive">

                            <thead>
                                <tr>
                                    <th>Camisa</th>
                                    <th>Atleta</th>
                                    <th>Capitão</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for profissional in form.profissionalJogos if profissional.inscricao.vars.value.equipe == jogo.equipeMandante %}
                                    <tr>
                                        <td>{{ form_widget(profissional.numero) }}</td>
                                        <td>
                                            <h5>{{ profissional.inscricao.vars.value.profissional.nome }}</h5>
                                            {{ form_widget(profissional.inscricao) }}
                                        </td>
                                        <td>
                                            <div class="ckbox ckbox-default">
                                                {{ form_widget(profissional.capitao) }}
                                                <label for="{{ profissional.capitao.vars.id }}"></label>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <!-- ESCALAÇÃO EQUIPE VISITANTE -->
            <div class="col-lg-6  col-md-12" id="escalacaoVisitante">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ jogo.equipeVisitante.nome }}</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive">

                            <thead>
                            <th>Camisa</th>
                            <th>Atleta</th>
                            <th>Capitão</th>
                            </thead>
                            <tbody>
                                {% for profissional in form.profissionalJogos if profissional.inscricao.vars.value.equipe == jogo.equipeVisitante %}
                                    <tr>
                                        <td>{{ form_widget(profissional.numero) }}</td>
                                        <td>
                                            <h5>{{ profissional.inscricao.vars.value.profissional.nome }}</h5>
                                            {{ form_widget(profissional.inscricao) }}
                                        </td>
                                        <td>
                                            <div class="ckbox ckbox-default">
                                                {{ form_widget(profissional.capitao) }}
                                                <label for="{{ profissional.capitao.vars.id }}"></label>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <!-- PLACAR -->
        <div class="row">

            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Gols</h3>
                    </div>
                    <div class="panel-body">

                        <div class="row" id="gols"  data-prototype="{{ form_widget(form.gols.vars.prototype)|replace({'div': "tr"}) }}">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-8 col-md-6 text-right">{{ jogo.equipeMandante.nome }}</label>
                                    <div class="col-md-6 col-lg-4">
                                        <input id="golsMandante" type="number" class="form-control" />
                                    </div>
                                </div>

                                <div class="table table-responsive">
                                    <table class="table" style="display: none;" id="tableGolsMandante" >
                                        <thead>
                                            <tr>
                                                <th>Jogador</th>
                                                <th>Minuto</th>
                                                <th>Tempo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for gol in form.gols if gol.inscricao.vars.value.equipe == jogo.equipeMandante %}
                                                <tr>
                                                    {{ form_row(gol) }}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>



                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-lg-4">
                                        <input id="golsVisitante" type="number" class="form-control" />
                                    </div>
                                    <label class="control-label col-lg-8 col-md-6">{{ jogo.equipeVisitante.nome }}</label>
                                </div>



                                <div class="table table-responsive">
                                    <table class="table" style="display: none;" id="tableGolsVisitante"> 
                                        <thead>
                                            <tr>
                                                <th>Jogador</th>
                                                <th>Minuto</th>
                                                <th>Tempo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for gol in form.gols if gol.inscricao.vars.value.equipe == jogo.equipeVisitante %}
                                                <tr>
                                                    {{ form_row(gol) }}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>




                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

        <!-- CARTÔES AMARELOS -->
        <div class="row" id="cartoes"  data-prototype="{{ form_widget(form.cartoes.vars.prototype)|replace({'div': "tr"}) }}">

            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Cartões Amarelos</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" id="cartoesAmarelos">

                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-8 col-md-6 text-right">{{ jogo.equipeMandante.nome }}</label>
                                    <div class="col-md-6 col-lg-4">
                                        <input id="cartoesAmarelosMandante" type="number" class="form-control" />
                                    </div>
                                </div>
                                    
                                    
                                <div class="table table-responsive">
                                    <table class="table" style="display: none;" id="tableCartoesAmarelosMandante" >
                                        <thead>
                                            <tr>
                                                <th>Jogador</th>
                                                <th>Minuto</th>
                                                <th>Tempo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cartaoAmarelo in form.cartoes if cartaoAmarelo.inscricao.vars.value.equipe == jogo.equipeMandante and cartaoAmarelo.inscricao.vars.value == constant('DesportoBundle\\Entity\\Cartao::AMARELO')  %}
                                                <tr>
                                                    {{ form_row(cartaoAmarelo) }}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                    
                                    
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-lg-4">
                                        <input id="cartoesAmarelosVisitante" type="number" class="form-control" />
                                    </div>
                                    <label class="control-label col-lg-8 col-md-6">{{ jogo.equipeVisitante.nome }}</label>
                                </div>
                                
                                <div class="table table-responsive">
                                    <table class="table" style="display: none;" id="tableCartoesAmarelosVisitante" >
                                        <thead>
                                            <tr>
                                                <th>Jogador</th>
                                                <th>Minuto</th>
                                                <th>Tempo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cartaoAmarelo in form.cartoes if cartaoAmarelo.inscricao.vars.value.equipe == jogo.equipeVisitante and cartaoAmarelo.inscricao.vars.value == constant('DesportoBundle\\Entity\\Cartao::AMARELO')  %}
                                                <tr>
                                                    {{ form_row(cartaoAmarelo) }}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>


        <!-- CARTÔES VERMELHOS -->
        <div class="row">

            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Cartões Vermelhos</h3>
                    </div>
                    <div class="panel-body">

                        <div class="row" id="cartoesVermelhos">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-8 col-md-6 text-right">{{ jogo.equipeMandante.nome }}</label>
                                    <div class="col-md-6 col-lg-4">
                                        <input id="cartoesVermelhosMandante" type="number" class="form-control" />
                                    </div>
                                </div>
                                    
                                    
                                <div class="table table-responsive">
                                    <table class="table" style="display: none;" id="tableCartoesVermelhosMandante" >
                                        <thead>
                                            <tr>
                                                <th>Jogador</th>
                                                <th>Minuto</th>
                                                <th>Tempo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cartaoVermelho in form.cartoes if cartaoVermelho.inscricao.vars.value.equipe == jogo.equipemandante and cartaoVermelho.inscricao.vars.value == constant('DesportoBundle\\Entity\\Cartao::VERMELHO')  %}
                                                <tr>
                                                    {{ form_row(cartaoVermelho) }}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                    
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-lg-4">
                                        <input id="cartoesVermelhosVisitante" type="number" class="form-control" />
                                    </div>
                                    <label class="control-label col-lg-8 col-md-6">{{ jogo.equipeVisitante.nome }}</label>
                                </div>
                                
                                <div class="table table-responsive">
                                    <table class="table" style="display: none;" id="tableCartoesVermelhosVisitante" >
                                        <thead>
                                            <tr>
                                                <th>Jogador</th>
                                                <th>Minuto</th>
                                                <th>Tempo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cartaoVermelho in form.cartoes if cartaoVermelho.inscricao.vars.value.equipe == jogo.equipeVisitante and cartaoVermelho.inscricao.vars.value == constant('DesportoBundle\\Entity\\Cartao::VERMELHO')  %}
                                                <tr>
                                                    {{ form_row(cartaoVermelho) }}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>


        <!-- Arbitragem -->     
        <div class="row">

            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Arbitragem</h3>
                    </div>
                    <div class="panel-body">

                           {{ form_row(form.mesario) }}
                           {{ form_row(form.arbitro1) }}
                           {{ form_row(form.arbitro2) }}
                        
                    </div>
                </div>

            </div>

        </div>
        
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <button class="btn btn-primary mr5">Salvar</button>
                    <img  src="{{ asset('bundles/desporto/images/loading.gif') }}" id="loading" alt="Carregando" />
                    <a class="btn btn-default" href="javascript:history.back()">Voltar</a>
                </div>
            </div>
        </div><!-- panel -->
        
        {{ form_end(form) }}

    </div><!-- contentpanel -->
{% endblock %}
