{% extends "DesportoBundle::layout.html.twig" %}
{% block title %}Desporto | Profissionais{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/desporto/css/style.datatables.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/desporto/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/desporto/js/jquery-datatables.responsive.js') }}"></script>
    <script src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="{{ asset('bundles/desporto/js/select2.min.js') }}"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('#profissionalTable').DataTable({
                "drawCallback": function( settings ) {
                    jQuery('#profissionalTable tbody .tooltips').tooltip({ container: 'body'});
                },
                responsive: true,
                "processing": true,
                "serverSide": true,
                "ajax": "{{ path('profissional_pagination') }}",
            });

                // DataTables Length to Select2
                jQuery('div.dataTables_length select').removeClass('form-control input-sm');
                jQuery('div.dataTables_length select').css({width: '60px'});
                jQuery('div.dataTables_length select').select2({
                    minimumResultsForSearch: -1
                });

        });
       
    </script>
{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-th-list"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="{{ path('profissional_index') }}">Profissional</a></li>
                    <li>Lista de Profissionais</li>
                </ul>
                <h4>Profissionais</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
     <div class="contentpanel">
        <div class="row">
            <div class="col-lg-12">
                <a href="{{ path('profissional_form') }}" class="btn btn-primary">Cadastrar Profissional</a>
            </div>
        </div>
        <hr/>
        <div class="panel panel-success-head">
            
            
            <table class="table table-responsive table-hover msg-list" id="profissionalTable">

                <thead class="msg-header">
                    <tr>
                        <td>
                            <div class="ckbox ckbox-default pull-left">
                                <input id="checkbox3" type="checkbox">
                                <label for="checkbox3"></label>
                            </div>
                            <button class="btn btn-white tooltips" type="button" data-toggle="tooltip" data-placement="top" title="Exportar"><i class="fa fa-download"></i></button>
                            <button class="btn btn-white tooltips" type="button" data-toggle="tooltip" data-placement="top" title="Excluir"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </thead>
                <tbody class="list-group contact-group">
                </tbody>

            </table>

        </div><!-- panel -->
     </div><!-- contentpanel -->
{% endblock %}
